@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("/assets/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    src: url("/assets/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}
body {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    @apply bg-blue-800;
    overflow-y: scroll;
}

.email:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}