backend:
  name: 'git-gateway'
  repo: 'acrestudio/acrestudio.art'
  branch: 'master'
media_folder: 'public/images'
public_folder: '/images'

collections:
  - name: 'home'
    label: 'Home'
    delete: false
    editor:
      preview: false
    files:
      - name: 'general'
        label: 'Home'
        file: 'content/home.json'
        description: 'General site settings'
        fields:
          - label: 'Page title'
            name: 'title'
            widget: 'string'
          - label: 'Meta description'
            name: 'description'
            widget: 'string'
          - label: 'Meta image'
            name: 'image'
            widget: 'image'
            choose_url: false
          - label: 'Items'
            name: 'items'
            widget: 'list'
            fields:
              - label: 'Item Title'
                name: 'item'
                widget: 'relation'
                collection: 'items'
                search_fields: ['title']
                value_field: '{{slug}}'
                display_fields: ['title']

  - name: 'categories'
    label: 'Categories'
    folder: 'content/categories/'
    format: 'json'
    create: true
    summary: '{{name}}'
    fields:
      - label: 'Name'
        name: 'name'
        widget: 'string'

  - name: 'items'
    label: 'Items'
    folder: 'content/items/'
    extension: 'md'
    format: 'frontmatter'
    create: true
    summary: '{{title}}'
    fields:
      - label: 'Title'
        name: 'title'
        widget: 'string'
      - label: 'Meta description'
        name: 'description'
        widget: 'string'
      - label: 'Meta image'
        name: 'image'
        widget: 'image'
        choose_url: false
      - label: 'Category'
        name: 'category'
        widget: 'string'
      - label: 'Gallery'
        name: 'images'
        widget: 'image'
        allow_multiple: true
